# Игнорировать виртуальное окружение
backend/venv/
.env/

#frontend игнор
frontend/messenger-zubr/node_modules
frontend/messenger-zubr/.pnp
frontend/messenger-zubr/.pnp.js

# testing
frontend/messenger-zubr/coverage

# production
frontend/messenger-zubr/build

# misc
frontend/messenger-zubr/.DS_Store
frontend/messenger-zubr/.env.local
frontend/messenger-zubr/.env.development.local
frontend/messenger-zubr/.env.test.local
frontend/messenger-zubr/.env.production.local

frontend/messenger-zubr/npm-debug.log*
frontend/messenger-zubr/yarn-debug.log*
frontend/messenger-zubr/yarn-error.log*

# Игнорировать кэш Python
__pycache__/

# Игнорировать файлы IDE
.idea/

